<section class="chat-message">
  <div class="chat-message_icon" style="background-image: url({{icon}})">
  </div>
  <div class="chat-message_content">
    <div class="chat-message_title">{{name}}</div>
    <div class="chat-message_text">
      {{text}}
    </div>
  </div>
  <div class="chat-message_info">
    <div class="chat-message_date">{{date}}</div>
    <div class="chat-message_count">{{count}}</div>
  </div>
</section>